.row(ng-controller='TypepersonController as typeperson')
  col-responsive
    .form-group
      label Название
      input.form-control(type='text', ng-model='edit.dictionary.name', ng-required='true', ng-trim='true')
