.row(ng-controller='EnumController as enum')
  col-responsive
    .form-group
      label Наименование
      input.form-control(type='text' ng-model='edit.dictionary.data.name' ng-required='true' ng-trim='true')
  col-responsive
    .form-group
      label Код
      input.form-control(type='text' ng-model='edit.dictionary.data.key' ng-required='true' ng-trim='true')
